@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*quotesnjokes Page*/
body {
    background-color: #a5ecff;
    font-family: Roboto, monospace;
}

body .ui-accordion {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: -8px;
    z-index: 1001;
}

body .ui-accordion .ui-accordion-content {
}

body .quoteNJoke {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

body .quoteNJokeDialogPanel {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

body .ui-dialog .ui-dialog-content {
   background-color: #074b07;
}

.dialog-no-header.ui-dialog .ui-dialog-titlebar {
    display: none;
}

body .showJoke{
    text-align: center;
    height: 200px;
    width: 200px !important;
    margin-top: 5px;
    color: crimson;
    border: 0.4px solid crimson;
    border-radius: 50%;
    background-color: white;
}

body .showJoke.ui-state-focus,
body .showJoke.ui-state-hover{
    background-color: crimson;
    box-shadow: none;
    border: none;
    color: white;
}

.ui-button-icon-only .ui-icon.btnIcon {
    font-size: 100px !important;
    margin-left: -50px !important;
    margin-top: -50px !important;
}

body .inputQuoteNJoke {
    width: 100%;
}
body .submitButton{
    color: crimson;
    border: 0.4px solid crimson;
    background-color: white;
}

body .submitButton.ui-state-focus,
body .submitButton.ui-state-hover{
    background-color: crimson;
    box-shadow: none;
    border: none;
    color: white;
}

body .ui-selectonebutton > .ui-button, body .ui-selectmanybutton > .ui-button.languageSelect {
    width: 50%;
}

body .globalLanguageSelectHolder {
    position: absolute;
    top: 10px;
    right: 10px;
}

body .ui-selectonebutton > .ui-button.ui-state-active,
body .ui-selectonebutton > .ui-button.ui-state-active:not(.ui-state-disabled):hover{
    background-color: rgba(42, 37, 37, 0.91);
    border: none;
}
body .ui-selectonebutton > .ui-button.ui-state-focus{
    box-shadow: none;
    border: none;
}

body .languageSelect {
    text-align: center;
    width: 100%;
}

body .typeSelect {
    text-align: center;
    width: 100%;
}

/*removing horizontal scrollbar from datatable*/
.mystyle.ui-datatable .ui-datatable-scrollable-body{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.mystyle.ui-datatable th {
    display: none;
}

body .ui-datatable .ui-datatable-header {
    padding: 0;
}

.filtersType {
    float: right;
}

.filtersLanguage {
    float: right;
}

/*GERMAN*/
body .ui-selectmanybutton.filtersLanguage > .ui-button:first-child.ui-state-active {
    background: #5D4D38FF !important;
}
/*ENGLISH*/
body .ui-selectmanybutton.filtersLanguage > .ui-button:last-child.ui-state-active {
    background: #98C4FAFF !important;
    color: black;
}
/*JOKE*/
body .ui-selectmanybutton.filtersType > .ui-button:first-child.ui-state-active {
    background: #FFDF7DFF !important;
    color: black;
}
/*QUOTE*/
body .ui-selectmanybutton.filtersType > .ui-button:last-child.ui-state-active {
    background: #FFBD9DFF !important;
    color: black;
}

.germanJoke {
    color: white !important;
    background: linear-gradient(90deg, rgba(93,77,56,1) 0%, rgba(163,130,67,1) 49%, rgba(255,223,125,1) 100%) !important;
}

.germanQuote {
    color: white !important;
    background: linear-gradient(90deg, rgba(93,77,56,1) 0%, rgba(177,111,75,1) 49%, rgba(255,189,157,1) 100%) !important;
}

.englishJoke {
    background:  linear-gradient(90deg, rgba(152,196,250,1) 22%, rgba(236,192,109,1) 68%, rgba(255,223,125,1) 100%) !important;
}

.englishQuote {
    background: linear-gradient(90deg, rgba(152,196,250,1) 22%, rgba(184,124,91,1) 66%, rgba(255,189,157,1) 100%) !important;
}